body{
    margin: 0;
}
li,p{
    font-family: Roboto , Arial;
}

.whatisCRISP-DM { 
    background-color: rgba(11, 185, 127, 0.393);
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
.CRISP-DM_Process_Diagram{
    border-radius: 200px;
    max-width: 100% ;
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textbox{

    margin-left: 35px;
    margin-right: 15px;
}
.title{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}
.main{
    font-size: 20px;
    font-weight: 500;
}
.bottombars{
    display :flex;
}
.pagenumber{
    font-family: Roboto,Arial;
    font-size: 20px;
}
.pagechanger{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}
.button{
    flex: 1;
    border-color: white;
    border-radius: 50px;
    max-width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.contact{
    flex:1;
    vertical-align: middle;
    align-items: center;
    
}
.business{
    display: grid;
    background-color: rgba(11, 185, 127, 0.393);
    grid-template-columns: 600px 1fr;
    vertical-align: middle;
    align-items: center;
    border-color: black;
    border: 2px solid black;
}
.jobrecruitment{
    max-width: 100%;
}
.dataunder{
    max-width: 100%;
    max-height: 200px;
}
.modeling{
    display: grid;
    grid-template-columns: 60% 1fr;
    border: 2px solid black;
    background-color: rgba(11, 185, 127, 0.393);
    align-items: center;
}
.picfirst{
    display: grid;
    grid-template-columns: 50% 1fr;
    border: 2px solid black;
    background-color: rgba(11, 185, 127, 0.393);
    align-items: center;
}